body{
  margin:0;
  padding:0;
  font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
  width:100vw;
  background-color:#fff;
}

/*----font----*/
h1 {
  margin:0;
  font-size: 8vw;
  text-align: center;
  font-weight: 800;
  color:#036eb7;
}

h2 {
  margin:0;
  font-size: 6vw;
  text-align: left;
  font-weight: 800;
}

h3 {
  margin:0;
  font-size: 4vw;
  text-align: center;
  font-weight: 800;
}

h5{
  margin:0;
  padding-left:8vw;
  font-size:2.5vw;
  font-weight:800;
}

h6{
  margin:0;
  font-size: 1.5vw;
  font-weight: 800;
  color: #fff;
}

txt1{
  overflow:auto;
  margin:0;
  padding:0;
  font-size: 2vw;
  font-weight:600;
}

txt2{
  margin:0;
  padding:0;
  font-size:2vw;
  font-weight:600;
}

txt3 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2.3vw;
  font-weight: 700;
  color: #fff;
}

ul {
  margin:0;
  padding:0;
  font-size: 2vw;
}

li a{
  color:#036eb7;
  font-size:2vw;
  font-weight:800;
}
/*----color----*/
sky-blu{
  color: #036eb7;
}

grn{
  color:#04b8a6;
}

red{
  color:#f00;
}

blu{
  color:#00f;
}

whi{
  color:#fff;
}

/*---flex---*/
.flex_div {
  display: flex;
  justify-content: center;
}

.a_div {
  display: inline-block;
  width: 5%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.a_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.b_div {
  display: inline-block;
  width: 90%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.b_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.c_div {
  display: inline-block;
  width: 50%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.c_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.d_div {
  display: inline-block;
  width: 40%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.d_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.e_div {
  display: inline-block;
  width: 70%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.e_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}
/*---------- メニューバー ---------- */
ul.ddmenu {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  background-color: #2857b1;
}

ul.ddmenu li {
  width: 20vw;
  display: inline-block;
  list-style-type: none;
  position: relative;
}

ul.ddmenu a {
  background-color: #2857b1;
  color: #fff;
  font-size: 2.3vw;
  line-height: 10vw;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

ul.ddmenu a:hover {
   background-color: #00a7eb;
}

ul.ddmenu li:hover > ul {
  display: block;
}

ul.ddmenu ul {
  background-color: #2857b1;
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  z-index: 999;
}

ul.ddmenu ul li {
  width: 20vw;
  border-top: 1px solid white;
}

ul.ddmenu ul li a {
  line-height: 10vw;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
}

ul.ddmenu ul li a:hover {
  background-color: #00a7eb;
}

ul.ddmenu ul ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  border-left: 1px solid white;
}
/*---buttom---*/
.btn{
  position: relative;
  text-decoration: none;
	display: inline-block;
	background:#04b8a6;
	color:#fff;
  padding: 10px 40px 10px 30px;
  border-radius:25px;
  text-align: center;
  outline: none;
  transition: ease .2s;
  font-size: 2.3vw;
  font-weight: 600;
  color: #fff;
}

.btnarrow2::after{
  content: '';
  position: absolute;
  top:42%;
  right: 13px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.btnarrow2:hover::after{
  animation: arrow .5s;
}

@keyframes arrow {
  50% {
    right: 10px;
  }
  100% {
    right: 13px;
  }
}

@media screen and (max-width: 767px) {
.btn{
  position: relative;
  text-decoration: none;
	display: inline-block;
	background:#04b8a6;
	color:#fff;
  padding: 5px 20px 5px 15px;
  border-radius:12px;
  text-align: center;
  outline: none;
  transition: ease .2s;
  font-size: 2.3vw;
  font-weight:300;
  color: #fff;
}

.btnarrow2::after{
  content: '';
  position: absolute;
  top:42%;
  right: 6px;
  width: 2px;
  height: 2px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.btnarrow2:hover::after{
  animation: arrow .5s;
}

@keyframes arrow {
  50% {
    right: 5px;
  }
  100% {
    right: 6px;
  }
}
}
/*---flex---*/
.flex{
  display:flex;
}

.block{
  height:auto;
  width:5vw;
}

a-div{
  display: inline-block;
  width: 5%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}
/*---link---*/
a {
  margin: 0 0 0 0;
  font-size: 1.7vw;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.op a:hover{
	color: #fff;
	opacity: 0.5;
}

.twitter a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photos/Logo%20twitter.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.tcu a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photos/Logo%20tcu.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.sci a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photos/Logo%20sci.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}
/*----header----*/
header{
  
}

.logo{
  position:absolute;
  z-index:10;
}



/*--main---*/
main{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
}

.sec1{
  margin:0;
  padding:0;
  height:cover;
  width:100vw;
  background-color:#fff;
}

/* Loading背景画面設定　*/

#splash {
    /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width:100vw;
  height:100vw;
  background:#333;
  text-align:center;
  color:#fff;
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
}



.sec2{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#fff;
}

footer{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#2857b1;
}
